
.critical-text {

    visibility: hidden;

    &.visible {

        visibility: visible;

        animation: stress 1s linear 0s 1;

    }
}

.miss-text {

    visibility: hidden;

    &.visible {

        visibility: visible;

        animation: stress 1s linear 0s 1;

    }
}

.attack-button {

    pointer-events: all;

    &.no-click {
        pointer-events: none;
    }

}

.defend-button {

    pointer-events: all;

    &.no-click {
        pointer-events: none;
    }

}

@keyframes stress {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}