
.character-container {

    width: 180px;
    height: 220px;

    animation: motion 0.5s linear 0s infinite alternate;

    &.edit {

        width: 250px;
        height: 304px;

        animation: none;
    }

    &.profile {

        width: 80px;
        height: 97px;

        animation: small-motion 0.5s linear 0s infinite alternate;;

    }

    &.attacked {

        animation: shake-dizzy 0.1s linear 0s 4;

    }

    &.defended {

        animation: dodge 0.5s linear 0s 3;

    }

}

@keyframes motion {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 12px;
    }
}

@keyframes small-motion {
    0% {
        margin-top: 2px;
    }
    100% {
        margin-top: 8px;
    }
}

@keyframes shake-dizzy {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
  }

@keyframes dodge {
    0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-10px);
      }
      75% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(0);
      }
}