
.character-container {

    width: 180px;
    height: 220px;

    animation: motion 1.2s linear 0s infinite alternate;

    &.edit {

        width: 250px;
        height: 304px;

        animation: none;
    }

}

@keyframes motion {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 12px;
    }
}